*{
    margin:0;
    padding:0;
    font-family:'나눔고딕','NanumGothic','맑은 고딕','Gothic';
}

a{
    text-decoration: none;
}


nav a, aside a{
    color:#629cb2;
}


body{
    width:960px;
    background-color: #E6E6E6;
    margin:auto;
}

#page-wrapper{
    background-color: #ffffff;
    margin:40px 0 40px 0;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(100,100,100,0.3);
}

#main-header{
    padding:10px;
    margin:20px 10px;
}

.master-title{
    font-size: 30px;
    color:#181818;
}


#main-navigation{
    border-top: 1px solid #c8c8c8;
    border-bottom: 1px solid #c8c8c8;
    margin: 0 0 20px 0;
    height:40px;
}


.menu-title{
    display: block;
    float: left;
    height:30px;
    text-align: center;
    line-height: 30px;
    padding:5px 20px 5px 20px;
    color:#000000;
}

.outer-menu-item{
    list-style: none;
}

.outer-menu-item .menu-title:hover,.outer-menu-item .menu-title:active{
    background-color: #629cb2;
    color: #ffffff;
}


#introduction, #vita{
    margin:40px 10px ;
}

#vita ul, aside ul{
    padding-left:20px;
    padding-top:10px;
}

.insta{
    display:inline-block;
    margin:20px;
}
.insta img{
    width: 300px;
}

#barcelona, #tokyo{
    margin:30px;
}

section a{
    color: #629cb2;
}

section a:hover{
    color:#4b7889;
}
.when{
    font-style: italic;
    font-weight: 300;
    padding-top :10px;
}

.content{
    padding:20px 0;
}

.schedule{
    list-style: none;
}

.schedule li{
    padding:10px;
}

.schedule li p{
    font-size: small;
    padding:10px 0;
}

aside{
    float:right;
    margin:50px;
}


footer{
    font-size:12px;
    color:#666666;
    margin:10px;
}